* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f7f7f7;
  }

  .comment-container {
    position: relative;
}

.comment-actions {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.comment-container:hover .comment-actions {
    display: block;
}

  .logo {
      display: inline-block;
      margin-bottom: 20px;
  }

  .logo svg {
      width: 40px;
      height: 40px;
      fill: #007bff;
  }

  a {
    text-decoration: none;
    color: #337ab7;
  }

  a:hover {
    color: #23527c;
  }

  /* Header Styles */

  header {
    background-color: #337ab7;
    padding: 1em;
    text-align: center;
  }

  header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }

  header nav ul li {
    margin-right: 20px;
  }

  header nav a {
    color: #fff;
  }

  header nav a:hover {
    color: #ccc;
  }

  /* Main Styles */

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
  }

  main section {
      background-color: #fff;
      padding: 2em;
      margin-bottom: 20px;
      box-shadow: 0 0 10px rgba(140, 227, 245, 1);
      width: 80%;
      max-width: 800px;
      height: auto;
      overflow-y: auto;
    }

  main section h1 {
    color: #337ab7;
  }

  main section h2 {
    color: #23527c;
  }

  main section ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  main section ul li {
    margin-bottom: 10px;
  }

  main section ul li h3 {
    color: #337ab7;
  }

  /* Footer Styles */

  footer {
    background-color: #337ab7;
    padding: 1em;
    text-align: center;
    color: #fff;
  }

  footer p {
    margin-bottom: 10px;
  }