{% extends 'base.html' %}

{% block content %}
    <div class="container mt-3">
        <h1>{{ project.title }}</h1>
        <p>Status: {{ project.status }}</p>
        <p>Description: {{ project.description }}</p>

        {% if project.image %}
            <img src="{{ project.image.url }}" alt="Project image">
        {% endif %}

        {% if project.link %}
            <p>Link: <a href="{{ project.link }}" target="_blank">{{ project.link }}</a></p>
        {% endif %}

        <p>Created at: <span class="badge text-bg-primary">{{ project.created_at }}</span></p>
        <p>Updated at: <span class="badge text-bg-secondary">{{ project.updated_at }}</span></p>
        <p>Author: <span class="badge text-bg-secondary">{{ project.user }}</span></p>

        <br/>
        <br/>
        <a href="{% url "system:project-update" project.id%}" class="btn btn-warning">Edit</a>
        <a href="{% url "system:project-delete" project.id%}" class="btn btn-danger">Delete</a> 
    </div>
{% endblock %}